<%- include("partials/header.ejs") -%>

<h1>Home</h1>

<p><%= homeData %></p>

<% postsData.forEach(function(post) { %>
    <% console.log(post.title) %>
<% }) %>

<%- include("partials/footer.ejs") -%>