<%- include("partials/header.ejs") -%>

<h1>Home</h1>

<p><%= homeData %></p>

<% for(let i=0; i<postsData.length; i++) { %>
    <% console.log(postsData[i].title) %>
<% } %>

<%- include("partials/footer.ejs") -%>